<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.DJFrontTaskMapper">
  <resultMap id="BaseResultMap" type="model.DJFrontTask">
    <id column="TASK_ID" jdbcType="VARCHAR" property="taskId" />
    <id column="FRONT_TASK_ID" jdbcType="VARCHAR" property="frontTaskId" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="DELAY_TIME" jdbcType="DECIMAL" property="delayTime" />
  </resultMap>
  <sql id="Base_Column_List">
    TASK_ID, FRONT_TASK_ID, "TYPE", DELAY_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="model.DJFrontTaskKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from DJ_FRONT_TASK
    where TASK_ID = #{taskId,jdbcType=VARCHAR}
      and FRONT_TASK_ID = #{frontTaskId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="model.DJFrontTaskKey">
    delete from DJ_FRONT_TASK
    where TASK_ID = #{taskId,jdbcType=VARCHAR}
      and FRONT_TASK_ID = #{frontTaskId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="model.DJFrontTask">
    insert into DJ_FRONT_TASK (TASK_ID, FRONT_TASK_ID, "TYPE", 
      DELAY_TIME)
    values (#{taskId,jdbcType=VARCHAR}, #{frontTaskId,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{delayTime,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="model.DJFrontTask">
    insert into DJ_FRONT_TASK
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="taskId != null">
        TASK_ID,
      </if>
      <if test="frontTaskId != null">
        FRONT_TASK_ID,
      </if>
      <if test="type != null">
        "TYPE",
      </if>
      <if test="delayTime != null">
        DELAY_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="taskId != null">
        #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="frontTaskId != null">
        #{frontTaskId,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="delayTime != null">
        #{delayTime,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="model.DJFrontTask">
    update DJ_FRONT_TASK
    <set>
      <if test="type != null">
        "TYPE" = #{type,jdbcType=VARCHAR},
      </if>
      <if test="delayTime != null">
        DELAY_TIME = #{delayTime,jdbcType=DECIMAL},
      </if>
    </set>
    where TASK_ID = #{taskId,jdbcType=VARCHAR}
      and FRONT_TASK_ID = #{frontTaskId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="model.DJFrontTask">
    update DJ_FRONT_TASK
    set "TYPE" = #{type,jdbcType=VARCHAR},
      DELAY_TIME = #{delayTime,jdbcType=DECIMAL}
    where TASK_ID = #{taskId,jdbcType=VARCHAR}
      and FRONT_TASK_ID = #{frontTaskId,jdbcType=VARCHAR}
  </update>
</mapper>