<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.LampsResourceMapper">
  <resultMap id="BaseResultMap" type="model.LampsResource">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="GUID" jdbcType="VARCHAR" property="guid" />
    <result column="RES_ID" jdbcType="DECIMAL" property="resId" />
    <result column="UNIQUE_ID" jdbcType="DECIMAL" property="uniqueId" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="RES_GROUP" jdbcType="VARCHAR" property="resGroup" />
    <result column="MATERIAL_LABEL" jdbcType="VARCHAR" property="materialLabel" />
    <result column="STANDARD_RATE" jdbcType="DECIMAL" property="standardRate" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="NOTES" jdbcType="VARCHAR" property="notes" />
    <result column="TEXT1" jdbcType="VARCHAR" property="text1" />
    <result column="TEXT2" jdbcType="VARCHAR" property="text2" />
    <result column="TEXT3" jdbcType="VARCHAR" property="text3" />
    <result column="TEXT4" jdbcType="VARCHAR" property="text4" />
    <result column="TEXT5" jdbcType="VARCHAR" property="text5" />
    <result column="FILE_CODE" jdbcType="VARCHAR" property="fileCode" />
    <result column="SVN_LAST_VERSION" jdbcType="DECIMAL" property="svnLastVersion" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, GUID, RES_ID, UNIQUE_ID, "TYPE", "NAME", RES_GROUP, MATERIAL_LABEL, STANDARD_RATE, 
    CODE, NOTES, TEXT1, TEXT2, TEXT3, TEXT4, TEXT5, FILE_CODE, SVN_LAST_VERSION
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from LAMPS_RESOURCE
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from LAMPS_RESOURCE
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="model.LampsResource">
    insert into LAMPS_RESOURCE (ID, GUID, RES_ID, 
      UNIQUE_ID, "TYPE", "NAME", 
      RES_GROUP, MATERIAL_LABEL, STANDARD_RATE, 
      CODE, NOTES, TEXT1, 
      TEXT2, TEXT3, TEXT4, 
      TEXT5, FILE_CODE, SVN_LAST_VERSION
      )
    values (#{id,jdbcType=VARCHAR}, #{guid,jdbcType=VARCHAR}, #{resId,jdbcType=DECIMAL}, 
      #{uniqueId,jdbcType=DECIMAL}, #{type,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{resGroup,jdbcType=VARCHAR}, #{materialLabel,jdbcType=VARCHAR}, #{standardRate,jdbcType=DECIMAL}, 
      #{code,jdbcType=VARCHAR}, #{notes,jdbcType=VARCHAR}, #{text1,jdbcType=VARCHAR}, 
      #{text2,jdbcType=VARCHAR}, #{text3,jdbcType=VARCHAR}, #{text4,jdbcType=VARCHAR}, 
      #{text5,jdbcType=VARCHAR}, #{fileCode,jdbcType=VARCHAR}, #{svnLastVersion,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="model.LampsResource">
    insert into LAMPS_RESOURCE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="guid != null">
        GUID,
      </if>
      <if test="resId != null">
        RES_ID,
      </if>
      <if test="uniqueId != null">
        UNIQUE_ID,
      </if>
      <if test="type != null">
        "TYPE",
      </if>
      <if test="name != null">
        "NAME",
      </if>
      <if test="resGroup != null">
        RES_GROUP,
      </if>
      <if test="materialLabel != null">
        MATERIAL_LABEL,
      </if>
      <if test="standardRate != null">
        STANDARD_RATE,
      </if>
      <if test="code != null">
        CODE,
      </if>
      <if test="notes != null">
        NOTES,
      </if>
      <if test="text1 != null">
        TEXT1,
      </if>
      <if test="text2 != null">
        TEXT2,
      </if>
      <if test="text3 != null">
        TEXT3,
      </if>
      <if test="text4 != null">
        TEXT4,
      </if>
      <if test="text5 != null">
        TEXT5,
      </if>
      <if test="fileCode != null">
        FILE_CODE,
      </if>
      <if test="svnLastVersion != null">
        SVN_LAST_VERSION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="guid != null">
        #{guid,jdbcType=VARCHAR},
      </if>
      <if test="resId != null">
        #{resId,jdbcType=DECIMAL},
      </if>
      <if test="uniqueId != null">
        #{uniqueId,jdbcType=DECIMAL},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="resGroup != null">
        #{resGroup,jdbcType=VARCHAR},
      </if>
      <if test="materialLabel != null">
        #{materialLabel,jdbcType=VARCHAR},
      </if>
      <if test="standardRate != null">
        #{standardRate,jdbcType=DECIMAL},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="notes != null">
        #{notes,jdbcType=VARCHAR},
      </if>
      <if test="text1 != null">
        #{text1,jdbcType=VARCHAR},
      </if>
      <if test="text2 != null">
        #{text2,jdbcType=VARCHAR},
      </if>
      <if test="text3 != null">
        #{text3,jdbcType=VARCHAR},
      </if>
      <if test="text4 != null">
        #{text4,jdbcType=VARCHAR},
      </if>
      <if test="text5 != null">
        #{text5,jdbcType=VARCHAR},
      </if>
      <if test="fileCode != null">
        #{fileCode,jdbcType=VARCHAR},
      </if>
      <if test="svnLastVersion != null">
        #{svnLastVersion,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="model.LampsResource">
    update LAMPS_RESOURCE
    <set>
      <if test="guid != null">
        GUID = #{guid,jdbcType=VARCHAR},
      </if>
      <if test="resId != null">
        RES_ID = #{resId,jdbcType=DECIMAL},
      </if>
      <if test="uniqueId != null">
        UNIQUE_ID = #{uniqueId,jdbcType=DECIMAL},
      </if>
      <if test="type != null">
        "TYPE" = #{type,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        "NAME" = #{name,jdbcType=VARCHAR},
      </if>
      <if test="resGroup != null">
        RES_GROUP = #{resGroup,jdbcType=VARCHAR},
      </if>
      <if test="materialLabel != null">
        MATERIAL_LABEL = #{materialLabel,jdbcType=VARCHAR},
      </if>
      <if test="standardRate != null">
        STANDARD_RATE = #{standardRate,jdbcType=DECIMAL},
      </if>
      <if test="code != null">
        CODE = #{code,jdbcType=VARCHAR},
      </if>
      <if test="notes != null">
        NOTES = #{notes,jdbcType=VARCHAR},
      </if>
      <if test="text1 != null">
        TEXT1 = #{text1,jdbcType=VARCHAR},
      </if>
      <if test="text2 != null">
        TEXT2 = #{text2,jdbcType=VARCHAR},
      </if>
      <if test="text3 != null">
        TEXT3 = #{text3,jdbcType=VARCHAR},
      </if>
      <if test="text4 != null">
        TEXT4 = #{text4,jdbcType=VARCHAR},
      </if>
      <if test="text5 != null">
        TEXT5 = #{text5,jdbcType=VARCHAR},
      </if>
      <if test="fileCode != null">
        FILE_CODE = #{fileCode,jdbcType=VARCHAR},
      </if>
      <if test="svnLastVersion != null">
        SVN_LAST_VERSION = #{svnLastVersion,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="model.LampsResource">
    update LAMPS_RESOURCE
    set GUID = #{guid,jdbcType=VARCHAR},
      RES_ID = #{resId,jdbcType=DECIMAL},
      UNIQUE_ID = #{uniqueId,jdbcType=DECIMAL},
      "TYPE" = #{type,jdbcType=VARCHAR},
      "NAME" = #{name,jdbcType=VARCHAR},
      RES_GROUP = #{resGroup,jdbcType=VARCHAR},
      MATERIAL_LABEL = #{materialLabel,jdbcType=VARCHAR},
      STANDARD_RATE = #{standardRate,jdbcType=DECIMAL},
      CODE = #{code,jdbcType=VARCHAR},
      NOTES = #{notes,jdbcType=VARCHAR},
      TEXT1 = #{text1,jdbcType=VARCHAR},
      TEXT2 = #{text2,jdbcType=VARCHAR},
      TEXT3 = #{text3,jdbcType=VARCHAR},
      TEXT4 = #{text4,jdbcType=VARCHAR},
      TEXT5 = #{text5,jdbcType=VARCHAR},
      FILE_CODE = #{fileCode,jdbcType=VARCHAR},
      SVN_LAST_VERSION = #{svnLastVersion,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>